.layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width: 100%;
}

.layout__main-content {
  display: flex;
  gap: 1rem;
  max-width: 90rem;
  width: 100%;
}
