.business-context-tabs-wrapper {
  background: #f4f5f7;
  border-radius: 0 0 0 0.63rem;
  display: flex;
  height: calc(100% - 69px);
  margin: 0 0 0.25rem 0.25rem;
  padding: 0.75rem 0.5rem 0.5rem;
  width: 20rem;
}

.tab-list {
  margin: 0 2.75rem 0 0;
}
.message-tab {
  box-sizing: border-box;
  color: #6b778c;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0.63rem;
  height: 6.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  overflow: hidden;
  padding: 0.69rem 1.19rem 1.06rem 1.19rem;
  width: 19rem;
}

.message-tab.notRead {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 0px #0000001a;
}

.message-tab.read {
  background: none;
}

.message-tab.read:focus {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 16px #54545433;
}



.read:focus {
  color: #6b778c;
}

.read:focus .business-context-title-short {
  color: #242325;
  font-weight: 700;
}
